<div>
    <h2 id="page-heading">
        <span jhiTranslate="ordernamangementApp.orders.home.title">Orders</span>
        <!--
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-orders" [routerLink]="['/orders/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ordernamangementApp.orders.home.createLabel">
            Create new Orders
            </span>
        </button>
        -->
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="orders">
        <table class="table table-striped">
            <thead>
            <tr>
                <!--
                     <th><span jhiTranslate="global.field.id">ID</span></th>
                       <th><span jhiTranslate="ordernamangementApp.orders.createdOn">Created On</span></th>
            <th><span jhiTranslate="ordernamangementApp.orders.updatedOn">Updated On</span></th>
                -->
           
            <th><span jhiTranslate="ordernamangementApp.orders.orderNumber">Order Number</span></th>
            <th><span jhiTranslate="ordernamangementApp.orders.customerId">Customer Id</span></th>
            <th><span jhiTranslate="ordernamangementApp.orders.items">Items</span></th>
            <th><span jhiTranslate="ordernamangementApp.orders.totalPrice">Total Price</span></th>
            <th><span jhiTranslate="ordernamangementApp.orders.description">Description</span></th>
            <th><span jhiTranslate="ordernamangementApp.orders.status">Status</span></th>
            <th><span jhiTranslate="ordernamangementApp.orders.isShipped">Is Shipped</span></th>
            <th><span jhiTranslate="ordernamangementApp.orders.isProgressed">Is Progressed</span></th>
          
            <th><span jhiTranslate="ordernamangementApp.orders.shippedDate">Shipped Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orders of orders ;">
                    <!--
                     <td><a [routerLink]="['/orders', orders.id, 'view' ]">{{orders.id}}</a></td>
                         <td>{{orders.createdOn | date:'medium'}}</td>
                <td>{{orders.updatedOn | date:'medium'}}</td>
                -->
               
                <td><a [routerLink]="['/orders', orders.orderNumber, 'view' ]">{{orders.orderNumber}}</a></td>
                <td>{{orders.customerId}}</td>
                <td>{{orders.items}}</td>
                <td>{{orders.totalPrice}}</td>
                <td>{{orders.description}}</td>
                <td jhiTranslate="{{'ordernamangementApp.OrderStatus.' + orders.fullOrderStatus}}">{{orders.fullOrderStatus}}</td>
                <td>{{orders.isShipped}}</td>
                <td>{{orders.isProgressed}}</td>
            
                <td>{{orders.shippedDate | date:'medium'}}</td>
              
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/orders', orders.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/orders', orders.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <!--
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'orders/'+ orders.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        -->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
