<div class="row justify-content-left">
        <div class="col-8">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <div *ngIf="orderDetails && orderDetails.length > 0">
                <h2><span jhiTranslate="ordernamangementApp.orders.detail.title">Orders</span>
                    {{orderDetails[0].orderNumber}}</h2>
                <hr>
                <jhi-alert-error></jhi-alert-error>
    
                <ul class=" list-unstyled row">
                    <div class="col">
                        <li>
                            <dt><span jhiTranslate="ordernamangementApp.orders.customerId">Customer Id</span></dt>
                            <dd>
                                <span>{{orderDetails[0].customerId}}</span>
                            </dd>
    
    
                        </li>
                        <li>
                            <dt><span jhiTranslate="ordernamangementApp.orderDetails.email">Email</span></dt>
                            <dd>
                                <span>{{orderDetails[0].email}}</span>
                            </dd>
    
                        </li>
                        <li>
                            <dt><span jhiTranslate="ordernamangementApp.orderDetails.paymentStatus">Payment Status</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails[0].paymentStatus}}</span>
                            </dd>
    
    
                        </li>
                        <li>
                            <dt><span jhiTranslate="ordernamangementApp.orderDetails.shippedDate">Shipped Date</span></dt>
                            <dd>
                                <span> {{orderDetails[0].shippedDate | date:'mediumDate'}}</span>
                            </dd>
                        </li>
                    </div>
    
                    <div class="col">
                        <li>
                            <dt><span jhiTranslate="ordernamangementApp.orderDetails.shippingMethod">Shipping Method</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails[0].shippingMethod}}</span>
                            </dd>
    
                        </li>
                        <li>
                            <dt><span jhiTranslate="ordernamangementApp.orderDetails.deliveredDate">Delivered Date</span>
                            </dt>
                            <dd>
                                <span> {{orderDetails[0].deliveredDate | date:'mediumDate'}}</span>
                            </dd>
    
    
                        </li>
                        <li>
                            <dt><span jhiTranslate="ordernamangementApp.orders.totalPrice">Total Price</span></dt>
                            <dd>
                                <span>{{orderDetails[0].totalAmount}}</span>
                            </dd>
    
    
                        </li>
                        <li>

                                <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="ordernamangementApp.orders.status" for="field_status">Status</label>
                                        <select class="form-control" name="status" [(ngModel)]="orderDetails[0].fullOrderStatus" id="field_status" >
                                                <option value="Created">{{'ordernamangementApp.OrderStatus.Created' | translate}}</option>
                                                <option value="Accepted">{{'ordernamangementApp.OrderStatus.Accepted' | translate}}</option>
                                                <option value="Processing">{{'ordernamangementApp.OrderStatus.Processing' | translate}}</option>
                                                <option value="Delivered">{{'ordernamangementApp.OrderStatus.Delivered' | translate}}</option>
                                                <option value="Shipped">{{'ordernamangementApp.OrderStatus.Shipped' | translate}}</option>
                                        </select>
                                    </div>
                           
                        </li>
                    </div>
    
    
                    <div class="col">
                        <li>
                            <dt><span jhiTranslate="ordernamangementApp.orders.isShipped">Is Shipped</span></dt>
                            <dd>
                                <span>{{orderDetails[0].isShipped}}</span>
                            </dd>
    
                        </li>
                        <li>
                            <dt><span jhiTranslate="ordernamangementApp.orders.isProgressed">Is Progressed</span></dt>
                            <dd>
                                <span>{{orderDetails[0].isProgressed}}</span>
                            </dd>
    
                        </li>
                        <li>
                            <dt><span jhiTranslate="ordernamangementApp.orders.createdOn">Created On</span></dt>
                            <dd>
                                <span>{{orderDetails[0].createdOn}}</span>
                            </dd>
    
                        </li>
                        <li>
                            <dt><span jhiTranslate="ordernamangementApp.orders.updatedOn">Updated On</span></dt>
                            <dd>
                                <span>{{orderDetails[0].updatedOn}}</span>
                            </dd>
                        </li>
                    </div>
    
                </ul>
    
                <ul class=" list-unstyled row">
                    <div class="col">
              
                        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                            </button>

                    </div>
                </ul>
    
    
    
    
    
            </div>
        </div>
    
    
        <div class="table-responsive" *ngIf="orderDetails">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><span jhiTranslate="ordernamangementApp.orderDetails.orderdetailId">orderdetailId</span>
                        </th>
                        <th><span jhiTranslate="ordernamangementApp.orderDetails.productName">Product Name</span></th>
                        <th><span jhiTranslate="ordernamangementApp.orderDetails.quantity">Quantity</span></th>
                        <th><span jhiTranslate="ordernamangementApp.orderDetails.price">Price</span></th>
                        <th><span jhiTranslate="ordernamangementApp.orderDetails.subTotal">Sub Total</span></th>
                        <th><span jhiTranslate="ordernamangementApp.orderDetails.orderStatus">Order Status</span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orderDetails of orderDetails ;">
                        <td><a [routerLink]="['/order-details', orderDetails.id, 'view' ]">{{orderDetails.id}}</a></td>
                        <td>{{orderDetails.productName}}</td>
                        <td>{{orderDetails.quantity}}</td>
                        <td>{{orderDetails.price}}</td>
                        <td>{{orderDetails.subTotal}}</td>
                        <td jhiTranslate="{{'ordernamangementApp.OrderStatus.' + orderDetails.orderStatus}}">
                            {{orderDetails.orderStatus}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit" [routerLink]="['/order-details', orderDetails.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <button type="submit" [routerLink]="['/order-details', orderDetails.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <!-- 
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'order-details/'+ orderDetails.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                        -->
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </form>
        </div>
    
    </div>


