
<div class="row justify-content-left">
    <div class="col-8">
        <div *ngIf="orderDetails && orderDetails.length > 0">
            <h2><span jhiTranslate="ordernamangementApp.orders.detail.title">Orders</span>
                {{orderDetails[0].orderNumber}}</h2>
            <hr>
            <jhi-alert></jhi-alert>
            <jhi-alert-error></jhi-alert-error>
            <ngx-barcode [bc-value]="orderDetails[0].orderNumber" [bc-display-value]="true"></ngx-barcode>
            <ul class=" list-unstyled row">
                <div class="col">
                    <li>
                        <dt><span jhiTranslate="ordernamangementApp.orders.customerId">Customer Id</span></dt>
                        <dd>
                            <span>{{orderDetails[0].customerId}}</span>
                        </dd>


                    </li>
                    <li>
                        <dt><span jhiTranslate="ordernamangementApp.orderDetails.email">Email</span></dt>
                        <dd>
                            <span>{{orderDetails[0].email}}</span>
                        </dd>

                    </li>
                    <li>
                        <dt><span jhiTranslate="ordernamangementApp.orderDetails.paymentStatus">Payment Status</span>
                        </dt>
                        <dd>
                            <span>{{orderDetails[0].paymentStatus}}</span>
                        </dd>


                    </li>
                    <li>
                        <dt><span jhiTranslate="ordernamangementApp.orderDetails.shippedDate">Shipped Date</span></dt>
                        <dd>
                            <span> {{orderDetails[0].shippedDate | date:'mediumDate'}}</span>
                        </dd>
                    </li>

                    <li>
                        <dt><span jhiTranslate="ordernamangementApp.orderDetails.shippingMethod">Shipping Method</span>
                        </dt>
                        <dd>
                            <span>{{orderDetails[0].shippingMethod}}</span>
                        </dd>

                    </li>
                </div>
                <div class="col">

                    <li>
                        <dt><span jhiTranslate="ordernamangementApp.orders.tax">Tax</span></dt>
                        <dd>
                            <span>{{orderDetails[0].tax}}</span>
                        </dd>


                    </li>
                    <li>
                        <dt><span jhiTranslate="ordernamangementApp.orders.shipmentFee">shipmentFee</span></dt>
                        <dd>
                            <span>{{orderDetails[0].shipmentFee}}</span>
                        </dd>


                    </li>
                    <li>
                            <dt><span jhiTranslate="ordernamangementApp.orders.paymentDate">paymentDate</span></dt>
                            <dd>
                                <span>{{orderDetails[0].paymentDate | date:'mediumDate'}}</span>
                            </dd>
    
    
                        </li>
                    <li>
                        <dt><span jhiTranslate="ordernamangementApp.orders.totalPrice">Total Price</span></dt>
                        <dd>
                            <span>{{orderDetails[0].totalAmount}}</span>
                        </dd>


                    </li>
                    <li>
                        <dt><span jhiTranslate="ordernamangementApp.orders.status">Status</span></dt>
                        <dd>
                            <span
                                jhiTranslate="{{'ordernamangementApp.OrderStatus.' + orderDetails[0].fullOrderStatus}}">{{orderDetails[0].fullOrderStatus}}</span>
                        </dd>
                    </li>
                </div>


                <div class="col">
                    <li>
                        <dt><span jhiTranslate="ordernamangementApp.orderDetails.deliveredDate">Delivered Date</span>
                        </dt>
                        <dd>
                            <span> {{orderDetails[0].deliveredDate | date:'mediumDate'}}</span>
                        </dd>


                    </li>
                    <li>
                        <dt><span jhiTranslate="ordernamangementApp.orders.isShipped">Is Shipped</span></dt>
                        <dd>
                            <span>{{orderDetails[0].isShipped}}</span>
                        </dd>

                    </li>
                    <li>
                        <dt><span jhiTranslate="ordernamangementApp.orders.isProgressed">Is Progressed</span></dt>
                        <dd>
                            <span>{{orderDetails[0].isProgressed}}</span>
                        </dd>

                    </li>
                    <li>
                        <dt><span jhiTranslate="ordernamangementApp.orders.createdOn">Created On</span></dt>
                        <dd>
                            <span>{{orderDetails[0].createdOn}}</span>
                        </dd>

                    </li>
                    <li>
                        <dt><span jhiTranslate="ordernamangementApp.orders.updatedOn">Updated On</span></dt>
                        <dd>
                            <span>{{orderDetails[0].updatedOn}}</span>
                        </dd>
                    </li>
                </div>

            </ul>

            <ul class=" list-unstyled row">
                <div class="col">
                    <button type="submit" (click)="previousState()" class="btn btn-info">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">
                            Back</span>
                    </button>

                    <button type="button" [routerLink]="['/orders', orderDetails[0].orderNumber, 'edit']"
                        class="btn btn-primary">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">
                            Edit</span>
                    </button>

                    <button type="button" (click)="handlePrintButtonClick($event)" class="btn btn-primary">
                        <fa-icon [icon]="'eye'"></fa-icon>&nbsp;<span>
                            Print</span>
                    </button>

                   

                </div>
            </ul>





        </div>
    </div>


    <div class="table-responsive" *ngIf="orderDetails">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span jhiTranslate="ordernamangementApp.orderDetails.orderdetailId">orderdetailId</span>
                    </th>
                    <th><span jhiTranslate="ordernamangementApp.orderDetails.productName">Product Name</span></th>
                    <th><span jhiTranslate="ordernamangementApp.orderDetails.quantity">Quantity</span></th>
                    <th><span jhiTranslate="ordernamangementApp.orderDetails.price">Price</span></th>
                    <th><span jhiTranslate="ordernamangementApp.orderDetails.subTotal">Sub Total</span></th>
                    <th><span jhiTranslate="ordernamangementApp.orderDetails.orderStatus">Order Status</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderDetails of orderDetails">
                    <td><a [routerLink]="['/order-details', orderDetails.id, 'view' ]">{{orderDetails.id}}</a></td>
                    <td>{{orderDetails.productName}}</td>
                    <td>{{orderDetails.quantity}}</td>
                    <td>{{orderDetails.price}}</td>
                    <td>{{orderDetails.subTotal}}</td>
                    <td jhiTranslate="{{'ordernamangementApp.OrderStatus.' + orderDetails.orderStatus}}">
                        {{orderDetails.orderStatus}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/order-details', orderDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/order-details', orderDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <!-- 
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'order-details/'+ orderDetails.id + '/delete'} }]"
                                            replaceUrl="true"
                                            queryParamsHandling="merge"
                                            class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                    -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>