
<div class="row justify-content-center">
	<div class="col-8">
		<div *ngIf="orderDetails">
			<h2>
				<span jhiTranslate="ordernamangementApp.orderDetails.detail.title">Order
					Details</span> {{orderDetails.orderNumber}}
			</h2>
			<hr>
			<jhi-alert></jhi-alert>
			<jhi-alert-error></jhi-alert-error>


			<ul class=" list-unstyled row">
				<div class="col">

					<li >
						<dt>
							<span
								jhiTranslate="ordernamangementApp.orderDetails.orderdetailId">Orderdetail
								Id</span>
						</dt>
						<dd>
							<span>{{orderDetails.orderdetailId}}</span>
						</dd>

					</li>
					<li>
						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.productName">Product
								Name</span>
						</dt>
						<dd>
							<span>{{orderDetails.productName}}</span>
						</dd>

					</li>
					<li>
						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.trackingId">Tracking
								Id</span>
						</dt>
						<dd>
							<span>{{orderDetails.trackingId}}</span>
						</dd>

					</li>
					<li>
						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.trackingUrl">Tracking
								Url</span>
						</dt>
						<dd>
							<span>{{orderDetails.trackingUrl}}</span>
						</dd>

					</li>
					<li>
						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.clientId">Client
								Id</span>
						</dt>
						<dd>
							<span>{{orderDetails.clientId}}</span>
						</dd>

					</li>
					<li>

						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.email">Email</span>
						</dt>
						<dd>
							<span>{{orderDetails.email}}</span>
						</dd>
					</li>

					<li>
						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.createdOn">Created
								On</span>
						</dt>
						<dd>
							<span>{{orderDetails.createdOn}}</span>
						</dd>

					</li>

					<li>
						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.productId">Product
								Id</span>
						</dt>
						<dd>
							<span>{{orderDetails.productId}}</span>
						</dd>

					</li>
					<li>
						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.quantity">Quantity</span>
						</dt>
						<dd>
							<span>{{orderDetails.quantity}}</span>
						</dd>

					</li>
				</div>

				<div class="col">

					<li>
						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.price">Price</span>
						</dt>
						<dd>
							<span>{{orderDetails.price}}</span>
						</dd>

					</li>
					<li>

						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.shippedDate">Shipped
								Date</span>
						</dt>
						<dd>
							<span>{{orderDetails.shippedDate}}</span>
						</dd>
					</li>
					<li>
						<dt>
							<span
								jhiTranslate="ordernamangementApp.orderDetails.shippingMethod">Shipping
								Method</span>
						</dt>
						<dd>
							<span>{{orderDetails.shippingMethod}}</span>
						</dd>

					</li>
					<li>
						<dt>
							<span
								jhiTranslate="ordernamangementApp.orderDetails.paymentStatus">Payment
								Status</span>
						</dt>
						<dd>
							<span>{{orderDetails.paymentStatus}}</span>
						</dd>

					</li>

					<li>

						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.orderDates">Order
								Dates</span>
						</dt>
						<dd>
							<span>{{orderDetails.orderDates}}</span>
						</dd>
					</li>


					<li>
						<dt>
							<span
								jhiTranslate="ordernamangementApp.orderDetails.fullOrderStatus">Full
								Order Status</span>
						</dt>
						<dd>
							<span
								jhiTranslate="{{'ordernamangementApp.OrderStatus.' + orderDetails.fullOrderStatus}}">{{orderDetails.fullOrderStatus}}</span>
						</dd>

					</li>



					<li>
						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.subTotal">Sub
								Total</span>
						</dt>
						<dd>
							<span>{{orderDetails.subTotal}}</span>
						</dd>

					</li>


					<li>

						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.updatedOn">Updated
								On</span>
						</dt>
						<dd>
							<span>{{orderDetails.updatedOn}}</span>
						</dd>
					</li>



					<li>
						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.customerId">Customer
								Id</span>
						</dt>
						<dd>
							<span>{{orderDetails.customerId}}</span>
						</dd>

					</li>

				</div>


				<div class="col">
					<li>
						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.vendorId">Vendor
								Id</span>
						</dt>
						<dd>
							<span>{{orderDetails.vendorId}}</span>
						</dd>

					</li>



					<li>

						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.orderStatus">Order
								Status</span>
						</dt>
						<dd>
							<span
								jhiTranslate="{{'ordernamangementApp.OrderStatus.' + orderDetails.orderStatus}}">{{orderDetails.orderStatus}}</span>
						</dd>
					</li>





					<li>

						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.orderDate">Order
								Date</span>
						</dt>
						<dd>
							<span>{{orderDetails.orderDate}}</span>
						</dd>
					</li>
					<li>

						<dt>
							<span
								jhiTranslate="ordernamangementApp.orderDetails.isProgressed">Is
								Progressed</span>
						</dt>
						<dd>
							<span>{{orderDetails.isProgressed}}</span>
						</dd>
					</li>

					<li>

						<dt>
							<span jhiTranslate="ordernamangementApp.orderDetails.isShipped">Is
								Shipped</span>
						</dt>
						<dd>
							<span>{{orderDetails.isShipped}}</span>
						</dd>
					</li>
					<li><dt>
							<span
								jhiTranslate="ordernamangementApp.orderDetails.deliveredDate">Delivered
								Date</span>
						</dt>
						<dd>
							<span>{{orderDetails.deliveredDate}}</span>
						</dd></li>

				</div>



			</ul>


			<dl class="row-md jh-entity-details">

				<dt>
					<span
						jhiTranslate="ordernamangementApp.orderDetails.customerAddress">Customer
						Address</span>
				</dt>
				<dd>
					<span>{{orderDetails.customerAddress}}</span>
				</dd>



			</dl>


			<button type="submit" (click)="previousState()" class="btn btn-info">
				<fa-icon [icon]="'arrow-left'"></fa-icon>
				&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
			</button>

			<button type="button"
				[routerLink]="['/order-details', orderDetails.id, 'edit']"
				class="btn btn-primary">
				<fa-icon [icon]="'pencil-alt'"></fa-icon>
				&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
			</button>
		</div>
	</div>
</div>
