<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-order-details-heading" jhiTranslate="ordernamangementApp.orderDetails.home.createOrEditLabel">Edit an Order Details</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <!--
                <div class="form-group" [hidden]="!orderDetails.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="orderDetails.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.orderNumber" for="field_orderNumber">Order Number</label>
                    <input type="text" class="form-control" name="orderNumber" id="field_orderNumber"
                        [(ngModel)]="orderDetails.orderNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.productName" for="field_productName">Product Name</label>
                    <input type="text" class="form-control" name="productName" id="field_productName"
                        [(ngModel)]="orderDetails.productName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.trackingId" for="field_trackingId">Tracking Id</label>
                    <input type="text" class="form-control" name="trackingId" id="field_trackingId"
                        [(ngModel)]="orderDetails.trackingId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.trackingUrl" for="field_trackingUrl">Tracking Url</label>
                    <input type="text" class="form-control" name="trackingUrl" id="field_trackingUrl"
                        [(ngModel)]="orderDetails.trackingUrl" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.clientId" for="field_clientId">Client Id</label>
                    <input type="text" class="form-control" name="clientId" id="field_clientId"
                        [(ngModel)]="orderDetails.clientId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="orderDetails.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.resetToken" for="field_resetToken">Reset Token</label>
                    <input type="text" class="form-control" name="resetToken" id="field_resetToken"
                        [(ngModel)]="orderDetails.resetToken" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.createdOn" for="field_createdOn">Created On</label>
                    <div class="d-flex">
                        <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" [(ngModel)]="createdOn"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.orderdetailId" for="field_orderdetailId">Orderdetail Id</label>
                    <input type="number" class="form-control" name="orderdetailId" id="field_orderdetailId"
                        [(ngModel)]="orderDetails.orderdetailId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.productId" for="field_productId">Product Id</label>
                    <input type="text" class="form-control" name="productId" id="field_productId"
                        [(ngModel)]="orderDetails.productId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="orderDetails.quantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="orderDetails.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.shippedDate" for="field_shippedDate">Shipped Date</label>
                    <div class="input-group">
                        <input id="field_shippedDate" type="text" class="form-control" name="shippedDate" ngbDatepicker  #shippedDateDp="ngbDatepicker" [(ngModel)]="orderDetails.shippedDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="shippedDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.shippingMethod" for="field_shippingMethod">Shipping Method</label>
                    <input type="text" class="form-control" name="shippingMethod" id="field_shippingMethod"
                        [(ngModel)]="orderDetails.shippingMethod" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.paymentStatus" for="field_paymentStatus">Payment Status</label>
                    <input type="text" class="form-control" name="paymentStatus" id="field_paymentStatus"
                        [(ngModel)]="orderDetails.paymentStatus" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.orderDates" for="field_orderDates">Order Dates</label>
                    <input type="text" class="form-control" name="orderDates" id="field_orderDates"
                        [(ngModel)]="orderDetails.orderDates" />
                </div>
               
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.customerAddress" for="field_customerAddress">Customer Address</label>
                    <input type="text" class="form-control" name="customerAddress" id="field_customerAddress"
                        [(ngModel)]="orderDetails.customerAddress" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.subTotal" for="field_subTotal">Sub Total</label>
                    <input type="number" class="form-control" name="subTotal" id="field_subTotal"
                        [(ngModel)]="orderDetails.subTotal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.updatedOn" for="field_updatedOn">Updated On</label>
                    <div class="d-flex">
                        <input id="field_updatedOn" type="datetime-local" class="form-control" name="updatedOn" [(ngModel)]="updatedOn"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.customerId" for="field_customerId">Customer Id</label>
                    <input type="text" class="form-control" name="customerId" id="field_customerId"
                        [(ngModel)]="orderDetails.customerId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.vendorId" for="field_vendorId">Vendor Id</label>
                    <input type="text" class="form-control" name="vendorId" id="field_vendorId"
                        [(ngModel)]="orderDetails.vendorId" />
                </div>
         
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.orderDate" for="field_orderDate">Order Date</label>
                    <div class="input-group">
                        <input id="field_orderDate" type="text" class="form-control" name="orderDate" ngbDatepicker  #orderDateDp="ngbDatepicker" [(ngModel)]="orderDetails.orderDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="orderDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.isProgressed" for="field_isProgressed">Is Progressed</label>
                    <input type="checkbox" class="form-control" name="isProgressed" id="field_isProgressed"
                        [(ngModel)]="orderDetails.isProgressed" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.isShipped" for="field_isShipped">Is Shipped</label>
                    <input type="checkbox" class="form-control" name="isShipped" id="field_isShipped"
                        [(ngModel)]="orderDetails.isShipped" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.deliveredDate" for="field_deliveredDate">Delivered Date</label>
                    <div class="input-group">
                        <input id="field_deliveredDate" type="text" class="form-control" name="deliveredDate" ngbDatepicker  #deliveredDateDp="ngbDatepicker" [(ngModel)]="orderDetails.deliveredDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="deliveredDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                -->
                <ul class=" list-unstyled row">
                    <div class="col">
    
                        <li >
                            <dt>
                                <span
                                    jhiTranslate="ordernamangementApp.orderDetails.orderdetailId">Orderdetail
                                    Id</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.orderdetailId}}</span>
                            </dd>
    
                        </li>
                        <li>
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.productName">Product
                                    Name</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.productName}}</span>
                            </dd>
    
                        </li>
                        <li>
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.trackingId">Tracking
                                    Id</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.trackingId}}</span>
                            </dd>
    
                        </li>
                        <li>
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.trackingUrl">Tracking
                                    Url</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.trackingUrl}}</span>
                            </dd>
    
                        </li>
                        <li>
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.clientId">Client
                                    Id</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.clientId}}</span>
                            </dd>
    
                        </li>
                        <li>
    
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.email">Email</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.email}}</span>
                            </dd>
                        </li>
    
                        <li>
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.createdOn">Created
                                    On</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.createdOn}}</span>
                            </dd>
    
                        </li>
    
                        <li>
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.productId">Product
                                    Id</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.productId}}</span>
                            </dd>
    
                        </li>
                   
                    </div>
    
                    <div class="col">

                            <li>
                                    <dt>
                                        <span jhiTranslate="ordernamangementApp.orderDetails.quantity">Quantity</span>
                                    </dt>
                                    <dd>
                                        <span>{{orderDetails.quantity}}</span>
                                    </dd>
            
                                </li>
    
                        <li>
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.price">Price</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.price}}</span>
                            </dd>
    
                        </li>
                        <li>
    
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.shippedDate">Shipped
                                    Date</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.shippedDate}}</span>
                            </dd>
                        </li>
                        <li>
                            <dt>
                                <span
                                    jhiTranslate="ordernamangementApp.orderDetails.shippingMethod">Shipping
                                    Method</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.shippingMethod}}</span>
                            </dd>
    
                        </li>
                        <li>
                            <dt>
                                <span
                                    jhiTranslate="ordernamangementApp.orderDetails.paymentStatus">Payment
                                    Status</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.paymentStatus}}</span>
                            </dd>
    
                        </li>
    
                        <li>
    
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.orderDates">Order
                                    Dates</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.orderDates}}</span>
                            </dd>
                        </li>
    
    
                     
    
    
    
                        <li>
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.subTotal">Sub
                                    Total</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.subTotal}}</span>
                            </dd>
    
                        </li>
    
    
                        <li>
    
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.updatedOn">Updated
                                    On</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.updatedOn}}</span>
                            </dd>
                        </li>
    
    
    
                    </div>
    
    
                    <div class="col">
                        <li>
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.vendorId">Vendor
                                    Id</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.vendorId}}</span>
                            </dd>
    
                        </li>
   
                        <li>
    
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.orderDate">Order
                                    Date</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.orderDate}}</span>
                            </dd>
                        </li>
                        <li>
    
                            <dt>
                                <span
                                    jhiTranslate="ordernamangementApp.orderDetails.isProgressed">Is
                                    Progressed</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.isProgressed}}</span>
                            </dd>
                        </li>
    
                        <li>
    
                            <dt>
                                <span jhiTranslate="ordernamangementApp.orderDetails.isShipped">Is
                                    Shipped</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.isShipped}}</span>
                            </dd>
                        </li>
                        <li><dt>
                                <span
                                    jhiTranslate="ordernamangementApp.orderDetails.deliveredDate">Delivered
                                    Date</span>
                            </dt>
                            <dd>
                                <span>{{orderDetails.deliveredDate}}</span>
                            </dd></li>
    
                    </div>
    
    
    
                </ul>
    
    
                <dl class="row-md jh-entity-details">
    
                    <dt>
                        <span
                            jhiTranslate="ordernamangementApp.orderDetails.customerAddress">Customer
                            Address</span>
                    </dt>
                    <dd>
                        <span> {{orderDetails.customerAddress}}</span>
                    </dd>  
    
    
    
                </dl>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.orderStatus" for="field_orderStatus">Order Status</label>
                    <select class="form-control" name="orderStatus" [(ngModel)]="orderDetails.orderStatus" id="field_orderStatus" >
                        <option value="Created">{{'ordernamangementApp.OrderStatus.Created' | translate}}</option>
                        <option value="Accepted">{{'ordernamangementApp.OrderStatus.Accepted' | translate}}</option>
                        <option value="Processing">{{'ordernamangementApp.OrderStatus.Processing' | translate}}</option>
                        <option value="Delivered">{{'ordernamangementApp.OrderStatus.Delivered' | translate}}</option>
                        <option value="Shipped">{{'ordernamangementApp.OrderStatus.Shipped' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.orderDetails.fullOrderStatus" for="field_fullOrderStatus">Full Order Status</label>
                    <select class="form-control" name="fullOrderStatus" [(ngModel)]="orderDetails.fullOrderStatus" id="field_fullOrderStatus" >
                            <option value="Created">{{'ordernamangementApp.OrderStatus.Created' | translate}}</option>
                            <option value="Accepted">{{'ordernamangementApp.OrderStatus.Accepted' | translate}}</option>
                            <option value="Processing">{{'ordernamangementApp.OrderStatus.Processing' | translate}}</option>
                            <option value="Delivered">{{'ordernamangementApp.OrderStatus.Delivered' | translate}}</option>
                            <option value="Shipped">{{'ordernamangementApp.OrderStatus.Shipped' | translate}}</option>
                    </select>
                </div>

            </div>
            
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
