<div>
    <h2 id="page-heading">
        <span jhiTranslate="ordernamangementApp.bill.home.title">Bills</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bill" [routerLink]="['/bill/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ordernamangementApp.bill.home.createLabel">
            Create new Bill
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bills">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ordernamangementApp.bill.orderNumber">Order Number</span></th>
            <th><span jhiTranslate="ordernamangementApp.bill.customerId">Customer Id</span></th>
            <th><span jhiTranslate="ordernamangementApp.bill.items">Items</span></th>
            <th><span jhiTranslate="ordernamangementApp.bill.totalPrice">Total Price</span></th>
            <th><span jhiTranslate="ordernamangementApp.bill.description">Description</span></th>
            <th><span jhiTranslate="ordernamangementApp.bill.status">Status</span></th>
            <th><span jhiTranslate="ordernamangementApp.bill.isShipped">Is Shipped</span></th>
            <th><span jhiTranslate="ordernamangementApp.bill.isProgressed">Is Progressed</span></th>
            <th><span jhiTranslate="ordernamangementApp.bill.createdOn">Created On</span></th>
            <th><span jhiTranslate="ordernamangementApp.bill.updatedOn">Updated On</span></th>
            <th><span jhiTranslate="ordernamangementApp.bill.shippedDate">Shipped Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bill of bills ;trackBy: trackId">
                <td><a [routerLink]="['/bill', bill.id, 'view' ]">{{bill.id}}</a></td>
                <td>{{bill.orderNumber}}</td>
                <td>{{bill.customerId}}</td>
                <td>{{bill.items}}</td>
                <td>{{bill.totalPrice}}</td>
                <td>{{bill.description}}</td>
                <td jhiTranslate="{{'ordernamangementApp.OrderStatus.' + bill.status}}">{{bill.status}}</td>
                <td>{{bill.isShipped}}</td>
                <td>{{bill.isProgressed}}</td>
                <td>{{bill.createdOn | date:'medium'}}</td>
                <td>{{bill.updatedOn | date:'medium'}}</td>
                <td>{{bill.shippedDate}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bill', bill.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bill', bill.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bill/'+ bill.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
