<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bill">
            <h2><span jhiTranslate="ordernamangementApp.bill.detail.title">Bill</span> {{bill.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ordernamangementApp.bill.orderNumber">Order Number</span></dt>
                <dd>
                    <span>{{bill.orderNumber}}</span>
                </dd>
                <dt><span jhiTranslate="ordernamangementApp.bill.customerId">Customer Id</span></dt>
                <dd>
                    <span>{{bill.customerId}}</span>
                </dd>
                <dt><span jhiTranslate="ordernamangementApp.bill.items">Items</span></dt>
                <dd>
                    <span>{{bill.items}}</span>
                </dd>
                <dt><span jhiTranslate="ordernamangementApp.bill.totalPrice">Total Price</span></dt>
                <dd>
                    <span>{{bill.totalPrice}}</span>
                </dd>
                <dt><span jhiTranslate="ordernamangementApp.bill.description">Description</span></dt>
                <dd>
                    <span>{{bill.description}}</span>
                </dd>
                <dt><span jhiTranslate="ordernamangementApp.bill.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'ordernamangementApp.OrderStatus.' + bill.status}}">{{bill.status}}</span>
                </dd>
                <dt><span jhiTranslate="ordernamangementApp.bill.isShipped">Is Shipped</span></dt>
                <dd>
                    <span>{{bill.isShipped}}</span>
                </dd>
                <dt><span jhiTranslate="ordernamangementApp.bill.isProgressed">Is Progressed</span></dt>
                <dd>
                    <span>{{bill.isProgressed}}</span>
                </dd>
                <dt><span jhiTranslate="ordernamangementApp.bill.createdOn">Created On</span></dt>
                <dd>
                    <span>{{bill.createdOn}}</span>
                </dd>
                <dt><span jhiTranslate="ordernamangementApp.bill.updatedOn">Updated On</span></dt>
                <dd>
                    <span>{{bill.updatedOn}}</span>
                </dd>
                <dt><span jhiTranslate="ordernamangementApp.bill.shippedDate">Shipped Date</span></dt>
                <dd>
                    <span>{{bill.shippedDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bill', bill.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
