<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-bill-heading" jhiTranslate="ordernamangementApp.bill.home.createOrEditLabel">Create or edit a Bill</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bill.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bill.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.bill.orderNumber" for="field_orderNumber">Order Number</label>
                    <input type="text" class="form-control" name="orderNumber" id="field_orderNumber"
                        [(ngModel)]="bill.orderNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.bill.customerId" for="field_customerId">Customer Id</label>
                    <input type="text" class="form-control" name="customerId" id="field_customerId"
                        [(ngModel)]="bill.customerId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.bill.items" for="field_items">Items</label>
                    <input type="text" class="form-control" name="items" id="field_items"
                        [(ngModel)]="bill.items" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.bill.totalPrice" for="field_totalPrice">Total Price</label>
                    <input type="text" class="form-control" name="totalPrice" id="field_totalPrice"
                        [(ngModel)]="bill.totalPrice" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.bill.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="bill.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.bill.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="bill.status" id="field_status" >
                        <option value="CREATED">{{'ordernamangementApp.OrderStatus.CREATED' | translate}}</option>
                        <option value="ACCEPTED">{{'ordernamangementApp.OrderStatus.ACCEPTED' | translate}}</option>
                        <option value="PROCESSING">{{'ordernamangementApp.OrderStatus.PROCESSING' | translate}}</option>
                        <option value="DELIVERED">{{'ordernamangementApp.OrderStatus.DELIVERED' | translate}}</option>
                        <option value="REJECTED">{{'ordernamangementApp.OrderStatus.REJECTED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.bill.isShipped" for="field_isShipped">Is Shipped</label>
                    <input type="checkbox" class="form-control" name="isShipped" id="field_isShipped"
                        [(ngModel)]="bill.isShipped" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.bill.isProgressed" for="field_isProgressed">Is Progressed</label>
                    <input type="checkbox" class="form-control" name="isProgressed" id="field_isProgressed"
                        [(ngModel)]="bill.isProgressed" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.bill.createdOn" for="field_createdOn">Created On</label>
                    <div class="d-flex">
                        <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" [(ngModel)]="createdOn"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.bill.updatedOn" for="field_updatedOn">Updated On</label>
                    <div class="d-flex">
                        <input id="field_updatedOn" type="datetime-local" class="form-control" name="updatedOn" [(ngModel)]="updatedOn"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordernamangementApp.bill.shippedDate" for="field_shippedDate">Shipped Date</label>
                    <input type="text" class="form-control" name="shippedDate" id="field_shippedDate"
                        [(ngModel)]="bill.shippedDate" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
